{{ appSubNavigation({
  items: [

      {
      text: 'Action buttons',
      href: '/components/action-buttons',
      selected: pageId == 'action-buttons'
    },
    {
      text: 'Add another',
      href: '/components/add-another',
      selected: pageId == 'add-another'
    },
    {
      text: 'Area select',
      href: '/components/area-select',
      selected: pageId == 'area-select'
    },

    {
      text: 'Filter',
      href: '/components/filter',
      selected: pageId == 'button-menu'
    },

    {
      text: 'Footer',
      href: '/components/footer',
      selected: pageId == 'footer'
    },


    {
      text: 'Full screen',
      href: '/components/full-screen',
      selected: pageId == 'full-screen'
    },

    {
      text: 'Help',
      href: '/components/help',
      selected: pageId == 'help'
    },
    {
      text: 'Hover text',
      href: '/components/hover-text',
      selected: pageId == 'hover-text'
    },


    {
      text: 'Icons',
      href: '/components/icons',
      selected: pageId == 'icons'
    },


    {
      text: 'Messages',
      href: '/components/messages',
      selected: pageId == 'messages'
    },
    {
      text: 'Modal confirmation banner',
      href: '/components/odal-confirmation-banner',
      selected: pageId == 'modal-confirmation'
    },
    {
      text: 'Multi select',
      href: '/components/multi',
      selected: pageId == 'multi-select'
    },
    {
      text: 'Page header actions',
      href: '/components/page-header',
      selected: pageId == 'page-header'
    },
    {
      text: 'Progress bar',
      href: '/components/progress-bar',
      selected: pageId == 'progress-bar'
    },
    {
      text: 'Redaction/select text',
      href: '/components/redeaction-select',
      selected: pageId == 'redaction-select-text'
    },
    {
      text: 'Show/hide',
      href: '/components/show-hide',
      selected: pageId == 'show-hide'
    },
        {
      text: 'Side action',
      href: '/components/side-action',
      selected: pageId == 'side-action'
    },
            {
      text: 'Tags',
      href: '/components/tags',
      selected: pageId == 'tags'
    },

        {
      text: 'Text area',
      href: '/components/text-area',
      selected: pageId == 'text-area'
    },
        {
      text: 'Warning text',
      href: '/components/warning-text',
      selected: pageId == 'warning-text'
    }
       

  ]
}) }}
