{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      text: 'AI outputs summary',
      href: '/ai/aiOutputs',
      selected: pageId == 'AI outputs summary'
    },
    {
      text: 'Announcement',
      href: '/ai/announcement',
      selected: pageId == 'Announcement'
    },    {
      text: 'Final check',
      href: '/ai/finalCheck',
      selected: pageId == 'Final check'
    },    
    {
      text: 'Interstitial',
      href: '/ai/interstitial',
      selected: pageId == 'interstitial'
    },    {
      text: 'Model disclosure',
      href: '/ai/modelDisclosure',
      selected: pageId == 'Model disclosure'
    },    {
      text: 'Quality assurance proof',
      href: '/ai/quality',
      selected: pageId == 'Quality assurance proof'
    },    {
      text: 'Report an issue',
      href: '/ai/report',
      selected: pageId == 'Report an issue'
    },  
  
    {
      text: 'Request AI outputs',
      href: '/ai/request',
      selected: pageId == 'Request AI outputs'
    },    {
      text: 'Review and adapt',
      href: '/ai/review',
      selected: pageId == 'Review and adapt'
    },  
     {
      text: 'Review collaborative output',
      href: '/ai/review-collab',
      selected: pageId == 'Review collaborative output'
    },
    {
      text: 'Select best version',
      href: '/ai/select',
      selected: pageId == 'Select best version'
    },    

    {
      text: 'Show authorship',
      href: '/ai/show',
      selected: pageId == 'Show authorship'
    },    

    {
      text: 'Show sources',
      href: '/ai/show-sources',
      selected: pageId == 'Show sources'
    },

    {
      text: 'Support skill development',
      href: '/ai/support',
      selected: pageId == 'Support skill development'
    }

    ]
  }]
}) }}
