{{ appSubNavigation({
  items: [
    {
      text: 'Accessibility statement',
      href: '/patterns/accessibility-statement',
      selected: pageId == 'accessibility-statement'
    },
    {
      text: 'Compare',
      href: '/patterns/compare',
      selected: pageId == 'compare'
    },
    {
      text: 'Get help',
      href: '/patterns/get-help',
      selected: pageId == 'get-help'
    },
    {
      text: 'Mindful friction framework',
      href: '/patterns/mindful-friction',
      selected: pageId == 'mindful-friction'
    },
    {
      text: 'Problem pages',
      href: '/patterns/problem',
      selected: pageId == 'problem'
    }
  ]
}) }}
