{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      text: 'Accessibility statement',
      href: '/patterns/accessibility-statement',
      selected: pageId == 'accessibility-statement'
    },
    {
      text: 'Actions footer t.b.c',
      href: '/patterns/actions-footer',
      selected: pageId == 'actions-footer'
    },    {
      text: 'Button position t.b.c',
      href: '/patterns/button-position',
      selected: pageId == 'button-position'
    },    
    {
      text: 'Calendar t.b.c',
      href: '/patterns/calendar',
      selected: pageId == 'calendar'
    },    {
      text: 'Check answers with mulitple quetions',
      href: '/patterns/check-answers',
      selected: pageId == 'check-answers'
    },    {
      text: 'Compare',
      href: '/patterns/compare',
      selected: pageId == 'compare'
    },    {
      text: 'Document tabs t.b.c',
      href: '/patterns/document-tabs',
      selected: pageId == 'document-tabs'
    },  
  
    {
      text: 'Get help',
      href: '/patterns/get-help',
      selected: pageId == 'get-help'
    },    {
      text: 'Long forms t.b.c',
      href: '/patterns/long-forms',
      selected: pageId == 'long-forms'
    },  
     {
      text: 'Mindful friction framework',
      href: '/patterns/mindful-friction',
      selected: pageId == 'mindful friction'
    },
    {
      text: 'Problem pages',
      href: '/patterns/problem',
      selected: pageId == 'problem'
    },    

    {
      text: 'Redaction log t.b.c',
      href: '/patterns/redaction-log',
      selected: pageId == 'redaction-log'
    },    {
      text: 'Search',
      href: '/patterns/search',
      selected: pageId == 'search'
    },

    {
      text: 'URN links t.b.c',
      href: '/patterns/URN-links',
      selected: pageId == 'urn-links'
    }

    ]
  }]
}) }}
