<div class="app-pane__nav">

  <div class="govuk-width-container">

  {{ appNavigation({
    items: [
      {
        text: 'Get started',
        href: '/get-started',
        selected: sectionId == 'get-started'
      },
      {
        text: 'Styles',
        href: '/styles',
        selected: sectionId == 'styles'
      },
      {
        text: 'Components',
        href: '/components',
        selected: sectionId == 'components'
      },
      {
        text: 'Patterns',
        href: '/patterns',
        selected: sectionId == 'patterns'
      },
            {
        text: 'AI Patterns',
        href: '/AI',
        selected: sectionId == 'AI'
      },
            {
        text: 'Content',
        href: '/content',
        selected: sectionId == 'content'
      },
        {
        text: 'Design history',
        href: 'https://cps-innovation.github.io/design-history/',
        selected: sectionId == 'history'
      },
      {
        text: 'Community',
        href: '/community',
        selected: sectionId == 'community'
      }
    ]
  }) }}

  </div>

</div>
