{{ appSubNavigation({

    items: [{
      text: 'Acronyms',
      href: '/content/acronyms',
      selected: pageId == 'acronyms'
    },
    {
      text: 'Buttons',
      href: '/content/buttons',
      selected: pageId == 'buttons'
    },
    {
      text: 'Capitalisation and punctuation',
      href: '/content/capital',
      selected: pageId == 'Capitalisation and punctuation'
    
  },
  {
      text: 'Contractions and abbreviations',
      href: '/content/contractions',
      selected: pageId == 'Contractions and abbreviations'
    },
  {
      text: 'Change links',
      href: '/content/changeLinks',
      selected: pageId == 'Change links'
    },

      {
      text: 'Copy length',
      href: '/content/copyLength',
      selected: pageId == 'Copy length'
    },

      {
      text: 'Dates',
      href: '/content/dates',
      selected: pageId == 'Dates'
    },
      {
      text: 'Error messages',
      href: '/content/errorMessages',
      selected: pageId == 'Error messages'
    },
          {
      text: 'Gender options',
      href: '/content/gender',
      selected: pageId == 'Gender options'
    },
              {
      text: 'Headings and <title>',
      href: '/content/headings',
      selected: pageId == 'headings'
    },
                  {
      text: 'Inclusion',
      href: '/content/inclusion',
      selected: pageId == 'Inclusion'
    },       
     {
      text: 'Labels',
      href: '/content/labels',
      selected: pageId == 'Labels'
    },
         {
      text: 'Legal content',
      href: '/content/legal',
      selected: pageId == 'Legal content'
    },
             {
      text: 'Names',
      href: '/content/names',
      selected: pageId == 'Names'
    },
                 {
      text: 'Naming a service',
      href: '/content/namingService',
      selected: pageId == 'Naming a service'
    },
                     {
      text: 'Pronouns (we, you, me, my)',
      href: '/content/pronouns',
      selected: pageId == 'Pronouns (we, you, me, my)'
    },
                         {
      text: 'Suspect status',
      href: '/content/suspect',
      selected: pageId == 'suspect'
    },
    {
      text: 'Titles in hearings',
      href: '/content/titles',
      selected: pageId == 'Titles in hearings'
    },
        {
      text: 'Tone',
      href: '/content/tone',
      selected: pageId == 'tone'
    },
            {
      text: 'URLs',
      href: '/content/urls',
      selected: pageId == 'URLs'
    }]
}) 
}}
