{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'How we work'
    },
    items: [{
      text: 'Our approach',
      href: '/get-started/our-approach',
      selected: pageId == 'our-approach'
    },
    {
      text: 'Prototyping',
      href: '/get-started/prototyping',
      selected: pageId == 'prototyping'
    },
        {
      text: 'Figma',
      href: '/get-started/figma',
      selected: pageId == 'figma'
    }
    ]
  },

    {
    heading: {
      text: 'Team documents'
    },
    items: [{
      text: 'Miro boards',
      href: '/get-started/miro',
      selected: pageId == 'miro-boards'
    }, {
      text: 'Prototypes and Figma boards',
      href: '/get-started/figma-boards',
      selected: pageId == 'figma-boards'
    }]
  },

  {
    heading: {
      text: 'How to guides'
    },
    items: [{
      text: 'Deploying your prototype',
      href: '/get-started/deploying-your-prototype',
      selected: pageId == 'deploying-your-prototype'
    }, {
      text: 'Setting up JavaScript',
      href: '/get-started/setting-up-javascript',
      selected: pageId == 'setting-up-javascript'
    }]
  }]
}) }}
